<?xml version="1.0" encoding="UTF-8"?>
<model>
  <name>medbot</name>
  <version>1.0.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>MedBot Team</name>
    <email>medbot@robotics.local</email>
  </author>
  <description>
    Ethiopian Medical Delivery Robot - Gazebo Harmonic Compatible Model
  </description>
</model>
